@import '~sass/variables';

.active {
  color: $primary;
}
a {
  color: $gray-700;
}
.title {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
}
.user-button {
  background-color: transparent;
  color: $gray-650!important;
}
.logo {
 padding-top: .2rem;
  margin-right: .3rem; 
}
.logo > i{
  color: lighten($purple, 10%);
 }  